.pokemonFightItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 325px;
  padding: 10px 10px;
  border-radius: 20px;
  background-color: var(--softWhite);
}

.pokemonFightItem__nameSpriteWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pokemonFightItem__name {
  text-transform: capitalize;
}

.pokemonFightItem__expTypesWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.pokemonFightItem__types {
  display: flex;
  gap: 5px;
}
